.main-content {
  width: 80vh;
  height: 93vh;
  min-height: 50%;
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 93vh;
  min-height: 50%;
}

.choice_link:hover {
  background-color: lightgray;
}
