<app-common-header></app-common-header>
<div class="d-flex">
  <nav class="sidebar">
    <div class="sidebar-sticky" style="width: 100%">
      <ul class="nav flex-column text-center">
        <li class="nav-item choice_link">
          <div class="p-2"
               (click)="redirectTo('/common/information-my-self')">
            <span>Thông tin tài khoản</span>
          </div>
        </li>
        <li class="nav-item" style="background-color: lightgray">
          <div class="p-2"
               (click)="redirectTo('/common/change-password')">
            <span>Thay đổi mật khẩu</span>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="d-flex" style="min-height: 93vh; height: auto">
    <div class="vr"></div>
  </div>
  <div class="main-content container">
    <div style="font-size: 30px; padding-top:20px">
      <span>Thay đổi mật khẩu</span>
    </div>

    <div class="modal-content">
      <hr/>
      <div class="modal-body">

        <div class="was-validated">
          <div class="row">
            <div class="mb-3 d-flex align-items-start col-12 flex-column">
              <label for="olde" class="form-label">Mật khẩu cũ</label>
              <div class="input-group">
                <input [(ngModel)]="data.passwordOld" type="{{showPasswordOld?'text':'password'}}"
                       class="form-control" id="olde"
                       required>
                <button class="btn btn-outline-secondary" type="button" (click)="handleShowPassword('old')">
                  <mat-icon>{{ showPasswordOld ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <div class="invalid-feedback">
                  Không được để trống
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 d-flex align-items-start col-12 flex-column">
              <label for="new" class="form-label">Mật khẩu mới</label>
              <div class="input-group">
                <input [(ngModel)]="data.passwordNew" type="{{showPasswordNew?'text':'password'}}"
                       class="form-control" id="new"
                       required>
                <button class="btn btn-outline-secondary" type="button" (click)="handleShowPassword('new')">
                  <mat-icon>{{ showPasswordNew ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <div class="invalid-feedback">
                  Không được để trống
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 d-flex align-items-start col-12 flex-column">
              <label for="reNew" class="form-label">Nhập lại mật khẩu mới</label>
              <div class="input-group">
                <input [(ngModel)]="rePasswordNew" type="{{showPasswordReNew?'text':'password'}}"
                       class="form-control" id="reNew"
                       (keydown.enter)="handleUpdatePassword()"
                       required>
                <button class="btn btn-outline-secondary" type="button" (click)="handleShowPassword('renew')">
                  <mat-icon>{{ showPasswordReNew ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <div class="invalid-feedback">
                  Không được để trống
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="errorMessage" style="color: red">
            <span>{{ errorMessage }}</span>
          </div>
          <div>
            <button (click)="handleUpdatePassword()" type="button" style="width: 100%" class="btn btn-outline-primary">
              Đổi mật khẩu
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



