<div>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 mt-3">Chỉnh sửa phòng ban</h1>
        <button type="button" class="btn-close ms-auto" (click)="closeDialog()"></button>
      </div>
      <hr/>
      <div class="modal-body">
        <div class="was-validated">
          <div class="row">
            <div class="mb-3 d-flex align-items-start col-12 flex-column">
              <label for="firstName" class="form-label">Tên phòng ban</label>
              <input [(ngModel)]="objUp.name" class="form-control" id="firstName" placeholder="Nhập tên"
                     required>
              <div class="invalid-feedback">
                Không được để trống
              </div>
            </div>
            <div class="mb-3 d-flex align-items-start col-12 flex-column">
              <label for="lastName" class="form-label">Mô tả</label>
              <textarea [(ngModel)]="objUp.descriptions"
                        class="form-control" id="lastName" placeholder="Nhập mô tả"></textarea>
            </div>
          </div>
          <div class="modal-footer mb-3">
            <button type="button" class="btn btn-secondary m-3" (click)="closeDialog()">Hủy</button>
            <button type="button" class="btn btn-primary" (click)="updateDepartment()">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

