<app-common-header></app-common-header>
<div>
<!--  DOM-->
<!--  <button (click)="changeLng('en')">-->
<!--    english-->
<!--  </button>-->
<!--  <button (click)="changeLng('de')">-->
<!--    german-->
<!--  </button>-->
<!--  <hr />-->
<!--  <div id="title_name"></div>-->
<!--  <button id="saveBtn"></button>-->
<!--  <hr />-->
<!--  <div id="info"></div>-->
<!--  <hr/>-->
<!--  <br>-->
  <button type="button" class="btn btn-outline-primary" (click)="changeLanguage('en')">English</button>
  <button type="button" class="btn btn-outline-warning" (click)="changeLanguage('vi')">Vietnamese</button>
  <h1>{{"departments.title_1"|translate}}</h1>
  <h2 style="color: red">{{'departments.title_2'|translate}}</h2>
  <h3 style="color: green">{{'departments.title_3'|translate}}</h3>
  <h4 class="strong" style="color: midnightblue">{{'departments.language'|translate}}</h4>
</div>
<div class="container">
  <div class="d-flex justify-content-center" style="font-size: 30px; padding:20px">
    <span>Quản lý phòng ban</span>
  </div>
  <div class="tab-content">
    <div class="row-gap-3 d-flex">
      <h3 class="col-md-6 text-start">
        <mat-icon>list</mat-icon>
        Danh sách phòng ban
      </h3>
      <div class="col-md-6 text-end" style="padding-top: 15px">
        <button type="button" class="btn btn-outline-primary" (click)="openShowCreate()">
          Thêm
        </button>
      </div>
    </div>
  </div>
</div>
<table class="table table-hover  text-center">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên phòng ban</th>
    <th scope="col">Mô tả</th>
    <th colspan="2">Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of listDepartments, let i=index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ item.name }}</td>
    <td>{{ item.descriptions }}</td>
    <td>
      <button type="button" class="btn btn-warning" (click)="openShowUpdate(item)">Sửa</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="handleDelete(item.id)">Xóa</button>
    </td>
  </tr>
  </tbody>
</table>
