<div>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 mt-3">Thêm nhân viên vào phòng ban</h1>
        <button type="button" class="btn-close ms-auto" (click)="onCloseDialog()"></button>
      </div>
      <hr/>
      <div class="modal-body">
        <label>Chọn nhân viên</label>
        <ng-select [multiple]="true" [(ngModel)]="listEmployeesSelected"
                   (change)="changeEmployeesSelected(listEmployeesSelected)">
          <ng-option *ngFor="let i of listEmployees" [value]="i.id">{{ i.code }} - {{ i.fullName }} ({{i.email}})</ng-option>
        </ng-select>
        <table class="table table-hover text-center">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mã</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Email</th>
            <th scope="col">Nhiệm vụ</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listEmployeesAdd">
            <td>{{ item.stt }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.fullName }}</td>
            <td>{{ item.email }}</td>
            <td>
              <ng-select [multiple]="true" [(ngModel)]="item.missionsListId">
                <ng-option class="form-control" *ngFor="let i of listMissions" [value]="i.id">{{ i.name }}</ng-option>
              </ng-select>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="modal-footer mb-3">
          <button type="button" class="btn btn-secondary m-3" (click)="onCloseDialog()">Hủy</button>
          <button type="button" class="btn btn-primary" (click)="handleCreate()">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>


